fastapi
uvicorn[standard]
celery
redis
flower
SQLAlchemy
alembic
psycopg2-binary
watchfiles
Jinja2
requests
asgiref
asyncio-redis
broadcaster
redis
python-socketio
pytest
httpx
factory-boy
pytest-factoryboy
pytest-cov
Pillow
python-multipart
gunicorn
loguru
fastapi-users[sqlalchemy]
ruff
pre-commit
