alembic
asgiref
asyncio-redis
broadcaster
celery
factory-boy
fastapi
fastapi-users[sqlalchemy]
flower
gunicorn
httpx
Jinja2
loguru
Pillow
pre-commit
psycopg2-binary
pytest
pytest-cov
pytest-factoryboy
python-multipart
python-socketio
redis
redis
requests
ruff
SQLAlchemy
uvicorn[standard]
watchfiles
